<style>

</style>
<!-- Main row -->
<!--
<div class="container" style="margin-bottom:5px;margin-left: -6px;font-size: 24px;font-weight: 600;">
    用户分析
</div>-->
<div class="content">

    <div class="one">
        <div class="row">
            <div class="col-lg-4 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                    <div class="inner">
                        <p>小程序累计总注册人数</p>
                        <h3>150</h3>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                    <div class="inner">
                        <p>小程序累计收入总金额</p>
                        <h3>150</h3>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-gray">
                    <div class="inner">
                        <p>企微累计总人数</p>
                        <h3>150</h3>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopdping-cart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="two">

    </div>
    <div class="three">

    </div>
    <div class="four">

    </div>
</div>


